# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Logs
*.log

# Node / packages if added later
node_modules/

# Temporary files
*.tmp
*.temp

# others
node_modules/
.env
.DS_Store
Thumbs.db
testConnection.js
TDL+Architecture.md

# all PDFs
*.pdf

# workspace
Part_B.code-workspace